# Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

# Exercise 3: Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

# Exercise 10: Insert a markdown cell to list Objectives

**Objectives:**
- List popular languages for Data Science
- List main libraries for data scientists
- Write some popular open source tools in Data Science
- Write some arithmetic expressions in code cells and run them
- Use markdown cells to write headings, tables, etc.

# Exercise 4: Create a markdown cell to list data science languages

Some of the most popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. SQL
5. Java

# Exercise 5: Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Scikit-learn
3. Pandas
4. TensorFlow
5. Keras

# Exercise 6: Create a markdown cell with a table of Data Science tools

| Data Science Tools |
|--------------------|
|       Jupyter      |
|       RStudio      |
|       Spyder       |

# Exercise 7: Create a markdown cell introducing arithmetic expression example

### Below are a few examples of evaluating arithmetic expressions in Python

# Exercise 8: Create a code cell to multiply and add numbers

In [16]:
# This is an example of arithmetic expression that multiplies and add integers
(3*4)+5

17

# Exercise 9: Create a code cell to convert minutes to hours

In [18]:
# This expression will convert 200 minutes in hours (dividing by 60)
h = 200/60
print(h)

3.3333333333333335

# Exercise 11: Create a markdown cell to indicate the Author's name

## Author
Gustavo Fernandez Cabrera